@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(images/bg-pattern-top-mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top top;
    font-family: "League Spartan", sans-serif;
    Font-size: 15px;
}

h1 {
   color: hsl(300, 43%, 22%);
   text-align: center;
    padding: 40px;
    font-weight: 700;
    font-size: 40px;
}

#paragrafo {
    font-weight: 400;
    color: hsl(303, 10%, 53%);
    font-size: 19px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
}

.estrela {
    background-color: hsl(300, 24%, 96%);
    color: hsl(300, 43%, 22%);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px; 
    margin: 20px;
    padding: 20px;
    font-weight: 700;
}


.pessoas {
    background-color:  hsl(300, 43%, 22%);
    margin: 20px;
    color: white;
    padding: 30px;
    font-size: 16px;
    border-radius: 5px;

}

.foto {
   border-radius: 50px;
}

.conteudo {
    display: flex;
    gap: 10px;
}

.detalhes {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    font-weight: 400;
    padding-left: 20px;

}

.detalhes > h2 {
    font-size: 18px;
}

.detalhes > strong {
    color: hsl(333, 80%, 67%);
    font-weight: 400;
    padding-top: 5px;
}

.pessoas > p {
    padding-top: 20px;
    font-size: 16px;
}

footer {
    text-align: center;
}


@media screen and (min-width: 375px) {
        body {
            background-image: url('images/bg-pattern-top-desktop.svg'), url(images/bg-pattern-bottom-desktop.svg);
            background-position: top left, bottom right;
            margin: auto;
            margin-left: 190px;
            background-attachment: fixed; 
            overflow-y: hidden; /* oculta a barra de rolagem vertical */
            
        }
    
        .estrela, .pessoas {
            flex-direction: row;
            justify-content: center;
            gap: 40px;
            width: 400px;
        }
    
        
        h1 {
            text-align: left;
            width: 300px;
            
        }
    
        #paragrafo {
            width: 500px;
            text-align: left;
        }

        #texto {
            position: absolute;
        }

        #comentarios {
            width: 600px;
            align-items: right;
            margin-left: 570px;
            margin-top: 90px;
        }

        .um {
            margin-right: 70px;
        }

        .dois {
            margin-left: 80px;
        }

        .tres {
            margin-left: 150px;
        }

        .pessoas {
            width: 280px;
            height: 190px;
        }
        .container {
            display: flex;
            flex-direction: row;
            margin-top: 90px;
        }

        .pessoa2 {
            margin-top: 40px;
        }
        .pessoa3 {
            margin-top: 60px;
        }
    }
